.bodyLogin {
  margin-left: -15px;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  overflow: hidden;
  display: flex;
  background: url("https://img.freepik.com/free-vector/online-shopping-banner-mobile-app-templates-concept-flat-design_1150-34862.jpg?w=740&t=st=1689834936~exp=1689835536~hmac=c5fa015020b07740d9bc9fdb98e62b977550fa4868c319fb2199e7814d7cf86a");
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

  .icon-back-home {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: #069d00;
    border: 2px solid wheat;
    border-radius: 50%;
    padding: 10px;

    i {
      font-size: 25px;
      color: white;
    }
  }

  .container {
    max-width: 700px;
    width: 100%;
    width: auto;
    margin: 20px 40px;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

    .title {
      position: relative;
    }

    .title::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 3px;
      width: 100%;
      border-radius: 5px;
      background: linear-gradient(135deg, #71b7e6, #9b59b6);
    }

    .content form .user-details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px 0 12px 0;
    }

    form .user-details .input-box {
      margin-bottom: 15px;
      width: calc(100% / 2 - 20px);
    }

    p {
      text-align: center;

      a {
        color: rgb(0, 50, 211);
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.image-signup {
  img.img-signup {
    width: -webkit-fill-available;

  }
}


form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}

form select#gender {
  width: 300px;
  height: 45px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
}

.gender-details span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}


form .button {
  height: 45px;
  margin: 35px 0 10px;
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}