.dashboard-main {

    header.dashboard-header {
        text-align: left;
        padding: 10px 20px 20px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .analyst-dashboard {

        ul {
            width: 100%;
            display: flex;

            li.dashboard-analyst-item {
                margin: 12px;
                position: relative;
                list-style: none;
                background-color: #fff;
                box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
                width: 25%;
                border-radius: 10px;

                .sticky-dashboard {
                    position: absolute;
                    top: -12%;
                    left: 6%;
                    border-radius: 10px;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    color: #fff;
                    align-items: center;
                    justify-content: center;
                    background-image: linear-gradient(195deg, #42424a, #191919);
                    font-size: 20px;
                }

                .sticky-dashboard.color-pink {

                    background-image: linear-gradient(195deg, #ec407a, #d81b60);
                }

                .sticky-dashboard.color-green {
                    background-image: linear-gradient(195deg, #66bb6a, #43a047);
                }

                .sticky-dashboard.color-blue {
                    background-image: linear-gradient(195deg, #49a3f1, #1a73e8);
                }


                .statis-dashboard {
                    text-align: right;
                    // margin: 20px 20px 0 0;
                    padding: 15px 20px 20px 0;
                    position: relative;

                    p {
                        color: #aaa;

                    }

                    h1 {
                        color: #344767;
                        font-size: 20px;
                        font-weight: 600;
                        margin-top: 5px;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 90%;
                        /* Điều chỉnh chiều dài gradient */
                        height: 1px;
                        /* Điều chỉnh độ dày của đường border */
                        background: linear-gradient(to left, transparent, #ccc, transparent);
                        /* Gradient màu */
                    }
                }

                .des-statis-dashboard {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 20px 0 20px 20px;

                    span {
                        color: #4caf50;
                    }

                    p {
                        color: #aaa;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .container-chart-dashboard {
        margin: 50px 0 20px;

        ul {
            display: flex;

            li.item-chart-dashboard {
                margin: 12px;
                border-radius: 10px;
                width: calc(100% / 3);
                position: relative;
                background-color: #fff;

                .main-chart-dashboard {
                    background-image: linear-gradient(195deg, #ec407a, #d81b60);
                    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
                    position: absolute;
                    width: 95%;
                    height: 190px;
                    left: 50%;
                    border-radius: 10px;
                    top: -8%;
                    transform: translateX(-50%);
                    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(233, 30, 99, .4);

                    canvas.chart-canvas {
                        width: -webkit-fill-available;
                        height: inherit;
                        padding: 10px;
                    }
                }

                .main-chart-dashboard.color-success {
                    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
                    background-image: linear-gradient(195deg, #66bb6a, #43a047);
                }

                .main-chart-dashboard.color-gradient-dark {
                    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
                    background-image: linear-gradient(195deg, #42424a, #191919);
                }

                .content-chart-dashboard {
                    position: relative;
                    text-align: left;
                    margin-top: 170px;
                    padding: 17px 24px;

                    h6 {
                        color: #344767;
                        font-size: 16px;
                    }

                    p {
                        margin: 5px 0;
                        font-size: 14px;
                        color: #B2B5C4;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 90%;
                        /* Điều chỉnh chiều dài gradient */
                        height: 1px;
                        /* Điều chỉnh độ dày của đường border */
                        background: linear-gradient(to left, transparent, #ccc, transparent);
                        /* Gradient màu */
                    }
                }

                span.des-time-chart-dashboard {
                    text-align: left;
                    padding: 24px;
                    color: #B2B5C4;
                    font-size: 14px;
                    align-items: center;
                    display: flex;

                    p {
                        margin-left: 5px;
                    }
                }

            }
        }

    }
}